* {
	box-sizing: border-box;
}

body {
	font-family: verdana;
    margin: 0;
	
}

/* Wspólna właściwość dla nagłówków */

h2 {
	text-transform: uppercase;
}

/* Właściwość dla głównego okna */

#gallery {
	margin: 0;
	background-image: url(../obrazy/man-1.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    transition: all .6s;
    text-align: center;
}

/* Właściwość dla */

#gallery .caption {
    text-transform: uppercase;
      text-align: left;
      vertical-align: center;
      color: #fff;
      top: 50%;
      position: relative;
      margin-left: 30px;
    line-height: 120%;
}